<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Questionario sull'Intelligenza Artificiale</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>


  <div class="container">

    <% if (errori) { %>
      <% if (errori.data_nascita == 1) { %>
        <p>errore</p>
      <% } %>
     
    <% } %>

    <h1>Questionario sull'Intelligenza Artificiale</h1>
    <form action="invio" method="post">

      <label for="data_nascita">Data di nascita:</label>
      <input type="date" id="data_nascita" name="data_nascita">
  
      <label for="luogo_residenza">Luogo di residenza:</label>
      <select id="luogo_residenza" name="luogo_residenza">
        <option value="" selected hidden>Scegli la regione</option>
        <option value="Abruzzo">Abruzzo</option>
        <option value="Basilicata">Basilicata</option>
        <option value="Calabria">Calabria</option>
        <option value="Campania">Campania</option>
        <option value="Emilia-Romagna">Emilia-Romagna</option>
        <option value="Friuli-Venezia Giulia">Friuli-Venezia Giulia</option>
        <option value="Lazio">Lazio</option>
        <option value="Liguria">Liguria</option>
        <option value="Lombardia">Lombardia</option>
        <option value="Marche">Marche</option>
        <option value="Molise">Molise</option>
        <option value="Piemonte">Piemonte</option>
        <option value="Puglia">Puglia</option>
        <option value="Sardegna">Sardegna</option>
        <option value="Sicilia">Sicilia</option>
        <option value="Toscana">Toscana</option>
        <option value="Trentino-Alto Adige">Trentino-Alto Adige</option>
        <option value="Umbria">Umbria</option>
        <option value="Valle d'Aosta">Valle d'Aosta</option>
        <option value="Veneto">Veneto</option>
      </select>

      <label>Quanto sei familiare con il concetto di Intelligenza Artificiale (IA)?</label>
      <select id="familiarita_ia" name="familiarita_ia" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto familiare</option>
        <option value="abbastanza">Abbastanza familiare</option>
        <option value="poco">Poco familiare</option>
        <option value="niente">Non familiare </option>
      </select>
      
      <label>Qual è la tua opinione generale sull'IA? </label>
      <select id="opinione_ia" name="opinione_ia" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto positiva</option>
        <option value="abbastanza">positiva</option>
        <option value="poco">Negativa</option>
        <option value="niente">Molta negativa</option>
      </select>
      
      <label>Credi che l'IA abbia un impatto significativo sul futuro della società?</label>
      <select id="impatto_futuro_ia" name="impatto_futuro_ia" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto impattante</option>
        <option value="abbastanza">Abbastanza impattante</option>
        <option value="poco">Poco impattante</option>
        <option value="niente">Non impattante</option>
      </select>
      <label>Se la risposta è si, per quali motivi?(Max 255 caratteri)</label>
      <textarea id="impatto_futuro_ia_aperta" name="impatto_futuro_ia_aperta" rows="1"  id="perche" maxlength="255" disabled></textarea>
      
      <label>Sei preocupato che l'IA possa sostituire alcuni lavori umani in futuro? </label>
      <select id="paura_sostituzione_lavori" name="paura_sostituzione_lavori" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto preocupato</option>
        <option value="abbastanza">Abbastanza preocupato</option>
        <option value="poco">Poco preocupato</option>
        <option value="niente">Non preocupato</option>
      </select>
      <label>Se la risposta è si, per quali motivi??(Max 255 caratteri)</label>
      <textarea id="paura_sostituzione_lavori_aperta" name="paura_sostituzione_lavori_aperta" rows="1" id="perche" maxlength="255" disabled></textarea>
      
      <label>Secondo te, quanto impatto avrà l'intelligenza artificiale su settori specifici?</label>
      <select name="settori_impatto" id="settori_impatto" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto impattante</option>
        <option value="abbastanza">Abbastanza impattante</option>
        <option value="poco">Poco impattante</option>
        <option value="niente">Non impattante</option>
      </select>
      <label>Se pensi abbiano un impatto, Quali pensi siano i settori piu coinvolti?(Max 255 caratteri)</label>
      <textarea name="settori_impatto_aperta" rows="1" id="settori_impatto_aperta" maxlength="255" disabled></textarea>
      
      <label>Ti preoccupa la possibilità che l'IA possa essere utilizzata per manipolare le persone o violare la loro privacy?</label>
      <select name="preoccupazione_manipolazione" id="preoccupazione_manipolazione" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto preoccupato</option>
        <option value="abbastanza">Abbastanza preoccupato</option>
        <option value="poco">Poco preoccupato</option>
        <option value="niente">Non preoccupato </option>
      </select>
      <label>Se la risposta è si, per quali motivi??(Max 255 caratteri)</label>
      <textarea name="preoccupazione_manipolazione_aperta" rows="1" id="preoccupazione_manipolazione_aperta" maxlength="255" disabled></textarea>
      
      <label>Quanto credi l'IA possa contribuire a risolvere problemi globali, come la povertà o il cambiamento climatico?</label>
      <select name="contributo_risolvere_problemi" id="contributo_risolvere_problemi"  >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto</option>
        <option value="abbastanza">Abbastanza</option>
        <option value="poco">Poco</option>
        <option value="niente">Niente</option>
      </select>
      <label>Se pensi contribuisca, per quali motivi?(Max 255 caratteri)</label>
      <textarea name="contributo_risolvere_problemi_aperta" rows="1" id="contributo_risolvere_problemi_aperta" maxlength="255" disabled></textarea>
      
      <label>Quanto ti senti ottimista o pessimista riguardo al futuro in cui l'IA diventerà sempre più diffusa?</label>
      <select name="ottimismo_pessimismo" id="ottimismo_pessimismo" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto ottimista</option>
        <option value="abbastanza">Ottimista</option>
        <option value="poco">Pessimista</option>
        <option value="niente">Molto pessimista</option>
      </select>
      <label>Vuoi motivare la tua risposta?(Max 255 caratteri)</label>
      <textarea name="ottimismo_pessimismo_aperta" rows="1" id="ottimismo_pessimismo_aperta" maxlength="255" disabled></textarea>
      
      <label>Quanto l'istruzione sul tema dell'IA, pensi debba essere parte del curriculum scolastico?</label>
      <select name="istruzione_scolastica" id="istruzione_scolastica" >
        <option value="" selected hidden>Scegli risposta</option>
        <option value="molto">Molto presente</option>
        <option value="abbastanza">Abbastanza presente</option>
        <option value="poco">Poco presente</option>
        <option value="niente">Non presente</option>
      </select>
      <label>Se pensi debba essere presensente, per quali motivi?(Max 255 caratteri)</label>
      <textarea name="istruzione_scolastica_aperta" rows="1" id="istruzione_scolastica_aperta" maxlength="255" disabled></textarea>
      
      <label>Quanto hai utilizzato personalmente un sistema basato sull'IA (come assistenti vocali, algoritmi di raccomandazione, etc.)?</label>
      <select name="esperienza_utilizzo_ia" id="esperienza_utilizzo_ia" >
        <option value="" selected hidden >Scegli risposta</option>
        <option value="molto">Molto</option>
        <option value="abbastanza">Abbastanza</option>
        <option value="poco">Poco</option>
        <option value="niente">Niente</option>
      </select>
      <label>Se utilizzato, quale è stata la tua esperienza?(Max 255 caratteri)</label>
      <textarea name="esperienza_utilizzo_ia_aperta" rows="1" id="esperienza_utilizzo_ia_aperta" maxlength="255" disabled></textarea>
      
      <input type="submit" value="Invia">
    </form>
  </div>

  <script src="js/index.js"></script>
</body>
</html>
