<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="container-fluid p-0 m-0">
    <div class="row">
        <!-- Span laterale a sinistra -->
        <div class="col-lg-3 bg-info text-light p-4">
            <h2>Benvenuti nel mondo delle zanzariere</h2>
            <p>Scoprite la soluzione ideale per proteggere la vostra casa dalle zanzare e altri insetti fastidiosi con le nostre zanzariere di alta qualità.</p>
            <p>Le nostre zanzariere offrono protezione e comfort, permettendovi di godere dell'aria fresca senza preoccupazioni.</p>
        </div>

        <!-- Contenitore del carousel e della storia delle aziende di zanzariere -->
        <div class="col-lg-9 d-flex flex-column justify-content-center align-items-center">
            <div class="container-fluid d-none" id="landing">
                <div id="zanzariera">
                    <div id="cornice-frontale">
                        <img src="/img/room_blurred.jpg">
                    </div>
                    <div id="rete"></div>
                </div>                  
            </div>

            <div class="container-fluid" id="home">

                <nav class="container-fluid text-center gy-0 p-0"
                    <div class="container-fluid">
                      <h1 class="display-3 m-auto">Zanzariere</h1>
                    </div>
                    <ul class="nav justify-content-center">
                      <li class="nav-item" >
                          <a class="nav-link custom-anchor" href="/">Home</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link custom-anchor" href="preventivo">Preventivo</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link custom-anchor" href="info">Info</a>
                      </li>
                    </ul>
                  </nav>

                
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="img/zan_4.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="img/zan_2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="img/zan_3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Sezione sulla storia delle aziende di zanzariere -->
                <div class="mt-5 pt-5">
                    <h2>Storia delle aziende di zanzariere</h2>
                    <p>Qui puoi inserire una descrizione interessante sulla storia delle aziende che producono zanzariere, il loro sviluppo nel tempo, i prodotti distintivi e altro ancora.</p>
                    <p>Scopri come le aziende di zanzariere hanno contribuito a migliorare la qualità della vita delle persone offrendo soluzioni innovative e di alta qualità.</p>
                </div>
            
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
</body>
</html>
