
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}
.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea:disabled {
  background-color: #c9c2c2;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 20px auto;
    padding: 10px;
  }
}

/* Stili per i campi con errori */
input.error,
select.error,
textarea.error {
  border-color: red; /* Imposta il colore del bordo rosso per evidenziare il campo con errore */
}

/* Stili per i messaggi di errore */
p.error-message {
  color: red; /* Imposta il colore del testo rosso per i messaggi di errore */
  font-size: 14px; /* Imposta la dimensione del carattere per i messaggi di errore */
  margin-top: 5px; /* Aggiunge un margine sopra il messaggio di errore */
}
h1.success-message {
  color: green; /* Imposta il colore del testo verde per il messaggio di successo */
  font-size: 14px; /* Imposta la dimensione del carattere per il messaggio di successo */
  margin-top: 5px; /* Aggiunge un margine sopra il messaggio di successo */
}